
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
h2{
  text-align: left;
}
body{
  background-color: rgb(224,225,226)
}
img {
  

}
li{
  list-style: none;
}
.well{
  background: rgb(76,112,153);
}
.image-board{
  .board{
    text-decoration: none;
    color: white;
  }
}
.images{
    margin: 0 auto;
    display: block;
    width: 100%;
}
.picture-tile{
  background-color: white;
}
.btn-primary{
  border-radius: 50%;
  background-color: black;
  color: rgb(76,112,153);
}
